<button (click)="showsearchQues()">Home</button>
<div *ngIf="toogleques">
<h1>Questions</h1>
<div *ngFor="let question of questionlist; index as i">
    <div class="quesid">
    <h1>{{question.title}}</h1>
    <p>{{question.body}}</p>
    <div *ngIf="showVar[i]">
        <app-answerlist quesId={{question.qid}}></app-answerlist>
        <button>Mark</button>
    </div>
</div>
    <button (click)="showans(i)">ShowAns</button>
</div>

</div>

<div *ngIf="!toogleques">
    <h1>SQuestions</h1>
    <button (click)="addQues()">Add New Question</button>
<div *ngFor="let question of seachQueList; index as i">
    <div class="quesid">
    <h1>{{question.title}}</h1>
    <p>{{question.body}}</p>
    <div *ngIf="showVar[i]">
        <app-answerlist quesId={{question.qid}}></app-answerlist>
    </div>
</div>
    <button (click)="showans(i)">ShowAns</button>
</div>
</div>