<div *ngIf="len">
    <div *ngFor="let answer of ansList">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar style="background-image: url({{answer.aphoto}});
            background-size: cover;"></div>
            <mat-card-title><em>{{answer.user}}</em> </mat-card-title>
            <div *ngIf="answer.correctAnswer">
            <mat-card-subtitle>Accepted answer</mat-card-subtitle>
            </div>
        </mat-card-header><br>
        <mat-card-content>
            {{answer.body}}
        </mat-card-content><br>
    </mat-card>
    </div>
    </div>
    
    <div *ngIf="!len">
        <span>
        No one has answered this yet!
        </span>
    </div>