<div class="login-box">
    <h3><i>ASK QUESTION</i></h3>
    <form [formGroup]='quesObj'>
        <label style="color: var(--dark);" for="input">Choose your topic:   </label> 
<select id="demo" name="Topic" class="c">
<option value="1">Badminton</option>
<option value="2">Algorithm</option>
<option value="3">Technology</option>
<option value="4">Framework</option>
<option value="5">Psychiatry</option>
<option value="6">Chess</option>
</select>
<br><br><br>
      <div class="user-box">
        <input formControlName="Keywords">
        <label>Keywords (comma separated)</label>
      </div>
      <div class="user-box">
        <label>Title:</label>
        <br><br>
        <textarea rows="3" cols="50" formControlName="quesTitle" class="tx"></textarea>
      </div>
      <div class="user-box">
        <label>Description:</label>
        <br><br>
        <textarea rows="5" cols="50" formControlName="quesDesc" class="tx"></textarea>
      </div> <br>
      <button class="button">Add</button>
    </form>
  </div>
