<div class="navbar">
    <button class="ba">Search</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="b" (click)="answerTab()">Answer</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="b" (click)="logout()">LogOut</button>
</div>
<br>

<div class="searc"> 
<input class="s" name="search" placeholder="Enter comma separated keywords here" [(ngModel)]="Qkeywords" [ngModelOptions]="{standalone: true}"><br>
<button class="b" style="margin-left: 11%;" (click)="quesSearch()">Submit</button>
</div>
<app-questionlist [temp]='temp' [ftest]='ftest'></app-questionlist>
<br><br><br>